<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="shopViewHead" id="photo" class="jumbotron jumbotron-fluid text-center text-white">
        <div class="container">
            <h3>Amazing Book Store</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, iure, rem! Atque inventore ipsam mollitia rerum. Accusamus asperiores assumenda atque commodi cupiditate dolor dolorum ducimus enim exercitationem iste nam, placeat.</p>
            <a href="#" class="btn btn-info btn-lg">Register</a>
        </div>

        <style>
            #photo{
                background-image: url("/img/image2.jpg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>

    </div>
</body>
</html>